@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: aliceblue;
}

.custom-input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #bdbdbd;
    background-color: transparent;
    padding: 10px 0;
    transition: border-color 0.3s;
  }
  
  .custom-input:focus {
    outline: none;
    border-bottom-color: #007bff; /* Color of the underline when focused */
  }
  
  .input-underline {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #007bff;
    transition: width 0.3s ease-in-out;
  }
  
  .peer:focus + .input-underline {
    width: 100%;
  }
  